<div class="portfolio">

    <div class="portfolio-content">

        <div class="fon_animation"></div>

        <div class="title-block">
            <h1><span>My </span>Portfolio</h1>
            <p>Some of My <span>works</span></p>
        </div>

        <div class="portfolio">
            <div class="portfolio-image">
                <img src="assets/portfolio-first.jpg" alt="">
            </div>
            <div class="portfolio-text">
                <h2>App Idea</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ut optio repellat cupiditate expedita eius dignissimos. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                <div class="button"><a href="#"><button> View Project</button></a></div>
            </div>
        </div>
        <div class="portfolio">
            <div class="portfolio-image">
                <img src="assets/portfolio-second.jpg" alt="">
            </div>
            <div class="portfolio-text">
                <h2>Web Designing</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                <div class="button"><a href="#"><button> View Project</button></a></div>
            </div>
        </div>

        <div class="portfolio">
            <div class="portfolio-image">
                <img src="assets/portfolio-third.jpg" alt="">
            </div>
            <div class="portfolio-text">
                <h2>UI Designing</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ut optio repellat cupiditate expedita eius dignissimos .. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                <div class="button"><a href="#"><button> View Project</button></a></div>
            </div>
        </div>
        <div class="portfolio ">
            <div class="portfolio-image">
                <img src="assets/portfolio-fourth.jpg" alt="">
            </div>
            <div class="portfolio-text">
                <h2>Wow Graphics</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ut optio repellat cupiditate expedita eius dignissimos. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                <div class="button"><a href="#"><button> View Project</button></a></div>
            </div>
        </div>
    </div>
</div>