<div class="wrap-main">
    <a routerLink="/" class="logo">
        <img src="assets/logo.svg">
    </a>
    <nav class="nav">
        <button #evt class="nav-btn" (click)="btnMenuOn(evt)">
      <span></span>
      <span></span>
      <span></span>
    </button>

        <div class="nav-wrap">
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/" (click)="itemMenuOn()">Home</a>
                </li>
                <li *ngFor="let menu of menus" routerLinkActive="active">
                    <a routerLink="/{{menu.title_name}}" (click)="itemMenuOn()">{{menu.title_name}}</a>
                </li>

            </ul>
        </div>

    </nav>

    <div class="wrap-content">
        <router-outlet></router-outlet>
    </div>

</div>