<div id="blog">
    <div class="fon_animation"></div>
    <div class="title-blog">
        <h1>Blogs</h1>
        <p>My Latest <span>blog posts</span></p>
    </div>

    <div class="blog-content">
        <div class="blogs">
            <a href="">
                <div class="img">
                    <img src="assets/post-one.jpg" alt="">
                    <div class="date-text">1 Jun,20</div>
                </div>
                <div class="blog-text">
                    <h3>Harleys In Hawaai</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias dolore recusandae illum, corrupti quo veniam saepe aliquid! Quis voluptates ratione consequuntur vel, perferendis cum provident? Magnam fugiat voluptas libero.
                    </p>
                </div>
            </a>
        </div>
        <div class="blogs">
            <a href="">
                <div class="img">
                    <img src="assets/post-two.jpg" alt="">
                    <div class="date-text">16 May,20</div>
                </div>
                <div class="blog-text">
                    <h3>Key To Be Productive</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt maiores, recusandae cupiditate ducimus a non tempora, architecto obcaecati eaque ipsum assumenda harum dolorum iusto tenetur eius eligendi dolor magnam sit!</p>
                </div>
            </a>
        </div>
        <div class="blogs">
            <a href="">
                <div class="img">
                    <img src="assets/post-three.jpg" alt="">
                    <div class="date-text">30 Sep,20</div>
                </div>
                <div class="blog-text">
                    <h3>Caffeine Addict</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo nostrum impedit ipsam perspiciatis ratione sapiente quasi optio reprehenderit, labore consequuntur suscipit cum quas. Officiis dolorem asperiores, ut necessitatibus quas
                        doloremque?
                    </p>
                </div>
            </a>
        </div>
        <div class="blogs">
            <a href="">
                <div class="img">
                    <img src="assets/post-four.jpg" alt="">
                    <div class="date-text">6 Jul,19</div>
                </div>
                <div class="blog-text">
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, veniam ratione quam vitae, quibusdam explicabo rem debitis velit ipsa repellat, impedit nulla fuga? Amet corporis praesentium quae. Sed, quibusdam necessitatibus.</p>
                </div>
            </a>
        </div>
        <div class="blogs">
            <a href="">
                <div class="img">
                    <img src="assets/post-five.jpg" alt="">
                    <div class="date-text">1 May,20</div>
                </div>
                <div class="blog-text">
                    <h3>Work From Home</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt eum necessitatibus rem dignissimos nulla mollitia cumque, provident officiis non vitae? Animi aut doloremque illum, soluta hic minus sint explicabo..</p>
                </div>
            </a>
        </div>
        <div class="blogs">
            <a href="">
                <div class="img">
                    <img src="assets/post-six.jpg" alt="">
                    <div class="date-text">1 Jun,20</div>
                </div>
                <div class="blog-text">
                    <h3>Business Trip</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempora dolorum fuga ratione, unde, ex quaerat iste numquam nemo nihil nobis rem sint quia recusandae dignissimos quos ut rerum nam.</p>
                </div>
            </a>
        </div>
    </div>
</div>